Connected Services/hhService/ImportService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImportService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImportService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFolder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Folder" nillable="true" type="tns:Folder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFolder" nillable="true" type="tns:ArrayOfFolder" />
  <xs:complexType name="Folder">
    <xs:sequence>
      <xs:element minOccurs="0" name="FolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Folder" nillable="true" type="tns:Folder" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Community" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="LastDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessedFiles" type="xs:long" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalFiles" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="ClientVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientVersion" nillable="true" type="tns:ClientVersion" />
  <xs:complexType name="UpdateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateData" nillable="true" type="tns:UpdateData" />
</xs:schema>